name: 发布
on:
  push:
    branches:
      - release
permissions:
  contents: read
jobs:
  check:
    name: 检查是否需要发布
    outputs:
      release: ${{steps.check.outputs.release}}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: 检查
        id: check
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: |
          npx --package conventional-changelog-conventionalcommits --package @semantic-release/exec --package semantic-release semantic-release --dry-run
          if [-f "release"];then
            echo "发布"
            echo "release=true" >> $GITHUB_OUTPUT
          else
            echo "不发布"
            echo "release=false" >> $GITHUB_OUTPUT
          fi
  test:
    name: 测试
    needs:
      - check
    if: needs.release=="true"
    runs-on: ubuntu-latest
    steps:
      - name: 测试
        run: echo "测试通过"
