name: 发布
on:
  push:
    branches: [release, beta, alpha]
permissions:
  contents: read
jobs:
  check-release:
    name: 检查是否需要发布
    outputs:
      release: ${{ steps.check.outputs.release }}
      version: ${{ steps.check.outputs.version }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: 检查是否需要发布
        id: check
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npx
            --package conventional-changelog-conventionalcommits
            --package @semantic-release/exec
            --package semantic-release
            semantic-release --dry-run
          if [ -f "version" ]; then
            echo "release=true" >> $GITHUB_OUTPUT
            echo "version=$(cat version)" >> $GITHUB_OUTPUT
          else
            echo "release=false" >> $GITHUB_OUTPUT
          fi
  app-test:
    name: 应用测试
    needs: check-release
    if: ${{needs.check-release.outputs.release=='true'}}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/initialize-project
      - name: 应用测试
        run: bun run test
  build-relay:
    name: 构建中继服务程序
    needs: app-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: 构建
        run: cargo build -p pupu-relay --release
      - name: 上传构建产物
        uses: actions/upload-artifact@v6
        with:
          path: target/release/pupu-relay
  build-windows:
    name: 构建 Windows 版本
    needs: [app-test, check-release]
    runs-on: windows-latest
    env:
      TARGET_PATH: target/release/pupu-windows.exe
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/initialize-project
      - name: 构建
        run: |
          echo ${{needs.check-release.outputs.version}} > public/version
          bun run native:build
      - name: 处理构建产物
        run: |
          Move-Item -Path target/release/native.exe -Destination ${{ env.TARGET_PATH }}
      - name: 上传构建产物
        uses: actions/upload-artifact@v6
        with:
          path: ${{ env.TARGET_PATH }}
  build-android:
    name: 构建 Android 版本
    needs: [app-test, check-release]
    runs-on: ubuntu-latest
    env:
      TARGET_PATH: target/release/pupu-android.apk
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/initialize-project
      - name: 初始化安卓构建
        run: |
          echo "storeFile=${{secrets.ANDROID_KEYSTORE_FILE}}" >> keystore.properties
          echo "keyAlias=${{secrets.ANDROID_KEYSTORE_KEYALIAS}}" >> keystore.properties
          echo "password=${{secrets.ANDROID_KEYSTORE_PASSWORD}}" >> keystore.properties
          bun run android:init
          bun run generate:icon
      - name: 构建
        run: |
          echo ${{needs.check-release.outputs.version}} > public/version
          bun run android:build
      - name: 处理构建产物
        run: mv native/gen/android/app/build/outputs/apk/arm64/release/app-arm64-release.apk ${{ env.TARGET_PATH }}
      - name: 上传构建产物
        uses: actions/upload-artifact@v6
        with:
          path: ${{ env.TARGET_PATH }}
  release:
    name: 发布
    needs: [build-relay, build-windows, build-android]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - uses: actions/download-artifact@v6
        with:
          path: artifact
      - uses: actions/create-github-app-token@v2
        id: app_token
        with:
          app-id: ${{ vars.BOT_ID }}
          private-key: ${{ secrets.BOT_PRIVATE_KEY }}
      - name: 发布到 GitHub Release
        env:
          GITHUB_TOKEN: ${{ steps.app_token.outputs.token }}
        run: |
          npx
            --package conventional-changelog-conventionalcommits
            --package @semantic-release/exec
            --package semantic-release
            semantic-release
      - name: 从 GitHub Release 发布内容到 Gitee Release
        uses: trustedinster/sync-release-gitee@v1.3
        with:
          github_owner: ZhangXiChang
          github_repo: pupu
          gitee_owner: zhangxichang
          gitee_repo: pupu-release-latest
          gitee_token: ${{ secrets.GITEE_TOKEN }}
