name: 发布
on:
  push:
    branches:
      - release
permissions:
  contents: read
jobs:
  check-release:
    name: 检查是否需要发布
    outputs:
      release: ${{steps.check.outputs.release}}
      version: ${{steps.check.outputs.version}}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: 检查
        id: check
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: |
          npx
            --package conventional-changelog-conventionalcommits
            --package @semantic-release/exec
            --package semantic-release
            semantic-release --dry-run
          if [ -f "version" ];then
            echo "release=true" >> $GITHUB_OUTPUT
            echo "version=$(cat version)" >> $GITHUB_OUTPUT
          else
            echo "release=false" >> $GITHUB_OUTPUT
          fi
  build-release-web:
    name: 构建发布到 Web
    needs:
      - check-release
    if: ${{needs.check-release.outputs.release=='true'}}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cargo-bins/cargo-binstall@main
      - uses: astral-sh/setup-uv@v7
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: 初始化项目
        run: |
          rustup target install wasm32-unknown-unknown
          cargo binstall wasm-pack
          uv sync
          bun run build:deps
          bun install
          bun run generate:deps
          echo ${{needs.check-release.outputs.version}} > public/version
      - name: 构建
        run: bun run build
      - name: 发布
        uses: cloudflare/wrangler-action@v3
        with:
          wranglerVersion: latest
          packageManager: bun
          accountId: ${{secrets.CLOUDFLARE_ACCOUNT_ID}}
          apiToken: ${{secrets.CLOUDFLARE_API_TOKEN}}
  build-windows:
    name: 构建 Windows 版本
    needs:
      - check-release
    if: ${{needs.check-release.outputs.release=='true'}}
    runs-on: windows-latest
    env:
      TARGET_PATH: target/release/dp2p-windows.exe
    steps:
      - uses: actions/checkout@v6
      - uses: cargo-bins/cargo-binstall@main
      - uses: astral-sh/setup-uv@v7
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: 初始化项目
        run: |
          rustup target install wasm32-unknown-unknown
          cargo binstall wasm-pack
          uv sync
          bun run build:deps
          bun install
          bun run generate:deps
          echo ${{needs.check-release.outputs.version}} > public/version
      - name: 构建
        run: bun tauri build
      - name: 处理构建产物
        run: |
          Move-Item -Path target/release/native.exe -Destination ${{env.TARGET_PATH}}
      - name: 上传构建产物
        uses: actions/upload-artifact@v6
        with:
          path: ${{env.TARGET_PATH}}
  build-relay:
    name: 构建中继服务程序
    needs:
      - check-release
    if: ${{needs.check-release.outputs.release=='true'}}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: 构建
        run: cargo build -p dp2p-relay --release
      - name: 上传构建产物
        uses: actions/upload-artifact@v6
        with:
          path: target/release/dp2p-relay
  release:
    needs:
      - build-windows
    name: 发布
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - uses: actions/download-artifact@v6
        with:
          path: artifact
      - uses: actions/create-github-app-token@v2
        id: app_token
        with:
          app-id: ${{vars.BOT_ID}}
          private-key: ${{secrets.BOT_PRIVATE_KEY}}
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: 发布到GitHub Release
        env:
          GITHUB_TOKEN: ${{steps.app_token.outputs.token}}
        run: |
          npx
            --package conventional-changelog-conventionalcommits
            --package @semantic-release/exec
            --package semantic-release
            semantic-release
      - name: 从GitHub Release发布内容到Gitee Release
        uses: trustedinster/sync-release-gitee@v1.3
        with:
          github_owner: ZhangXiChang
          github_repo: dp2p
          gitee_owner: zhangxichang
          gitee_repo: dp2p-release-latest
          gitee_token: ${{secrets.GITEE_TOKEN}}
