name: 发布
on:
  push:
    branches:
      - release
permissions:
  contents: read
jobs:
  check:
    name: 检查是否需要发布
    runs-on: ubuntu-latest
    outputs:
      release: ${{steps.check.outputs.release}}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: 检查
        id: check
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: |
          cat .releaserc.json
          npx --package conventional-changelog-conventionalcommits --package @semantic-release/exec --package semantic-release semantic-release --dry-run
