name: 语义化发布
on:
  push:
    branches:
      - main
permissions:
  contents: read
jobs:
  semantic-release:
    name: 语义化发布
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - name: 克隆项目
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: 语义化发布
        env:
          GITHUB_TOKEN: ${{secrets.SEMANTIC_RELEASE_TOKEN}}
        run: npx semantic-release
