name: Web发布
on: workflow_dispatch
permissions:
  contents: read
jobs:
  app-test:
    name: 应用测试
    environment: release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/initialize-project
      - name: 应用测试
        run: |
          bun run build
          bun run test
  release:
    name: 发布
    needs: app-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/initialize-project
      - name: 构建
        run: bun run build
      - name: 发布
        uses: cloudflare/wrangler-action@v3
        with:
          wranglerVersion: latest
          packageManager: bun
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
